.flags {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.flags img {
    margin-right: 25px;
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
    display: block
}

audio, canvas, video {
    display: inline-block;
    *display: inline;
    *zoom: 1
}

audio:not([controls]) {
    display: none
}

[hidden] {
    display: none
}

html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

body {
    margin: 0
}

a:focus {
    outline: thin dotted
}

a:hover, a:active {
    outline: 0
}

abbr[title] {
    border-bottom: 1px dotted
}

b, strong {
    font-weight: bold
}

i {
    font-style: italic
}

mark {
    background: #ff0;
    color: #000
}

p, pre {
    margin: 1em 0
}

pre, code, kbd, samp {
    font-family: monospace, serif;
    _font-family: 'courier new', monospace;
    font-size: 1em
}

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word
}

q {
    quotes: none
}

q:before, q:after {
    content: '';
    content: none
}

small {
    font-size: 75%
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -0.5em
}

sub {
    bottom: -0.25em
}

dl, menu, ol, ul {
    margin: 1em 0
}

dd {
    margin: 0 0 0 40px
}

menu, ol, ul {
    padding: 0 0 0 40px
}

nav ul,
nav
ol {
    list-style: none;
    list-style-image: none
}

img {
    border: 0;
    -ms-interpolation-mode: bicubic
}

svg:not(:root) {
    overflow: hidden
}

figure {
    margin: 0
}

form {
    margin: 0
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em
}

legend {
    border: 0;
    padding: 0;
    white-space: normal;
    *margin-left: -7px
}

button, input, select, textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
    *vertical-align: middle
}

button, input {
    line-height: normal
}

button, input[type="button"], input[type="reset"], input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
    *overflow: visible
}

button[disabled], input[disabled] {
    cursor: default
}

input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
    *height: 13px;
    *width: 13px
}

input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box
}

input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none
}

button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0
}

textarea {
    overflow: auto;
    vertical-align: top
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

.clearfix:before, .clearfix:after {
    content: "";
    display: table
}

.clearfix:after {
    clear: both
}

.clearfix {
    *zoom: 1
}

body {
    position: relative;
    border-top: 0.143em solid black;
    padding: 2.905em 0 3.048em 0;
    font-family: 'iABCRegular', Georgia, serif;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    font-size: 1.2em;
    line-height: 1.524em;
    color: #111;
    background-color: #fdfdfd;
    -webkit-text-size-adjust: 100%;
    text-rendering: optimizeLegibility
}

#content {
    width: 842px;
    margin: 0 auto
}

#content>section {
    margin-bottom: 3.048em
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal
}

h1 {
    margin: 0 0 1.25em 0;
    font-size: 1.524em;
    line-height: 1.5em
}

h2 {
    margin: 0 0 1.429em 0;
    font-size: 1.333em;
    line-height: 1.429em
}

h3 {
    margin: 0 0 1.524em 0;
    font-size: 1em;
    font-style: italic;
    line-height: 1.524em
}

p {
    margin: 0 0 1.143em 0
}

p:last-child {
    margin-bottom: 0
}

.section_separator {
    font-family: 'iABCRegularSC', Georgia, serif;
    text-transform: lowercase;
    position: relative;
    margin: 0 0 1.524em 0;
    overflow: hidden;
    font-size: 1em;
    line-height: 1.143em;
    text-align: center
}

.section_separator a,
.section_separator
span {
    display: inline-block;
    position: relative;
    padding: 0 10px;
    z-index: 1;
    background-color: #fdfdfd;
    text-decoration: none;
    /*color: #4AED05 !important;*/
    text-transform: uppercase;
    font-size: 16px;
}


.section_separator a:hover {
    text-decoration: underline
}

.section_separator:before,
.section_separator
.before {
    font-family: 'iABCRegularSC', Georgia, serif;
    text-transform: lowercase;
    position: absolute;
    top: 0;
    left: -1000px;
    z-index: -1;
    overflow: visible;
    text-decoration: none !important;
    color: #111;
    font-size: 1em;
    line-height: 1.143em;
    letter-spacing: 2px;
    content: "µµµµµµµ"
}

.symbol {
    font-family: 'iABCRegularSC', Georgia, serif;
    text-transform: lowercase;
    line-height: 1em;
    -webkit-font-smoothing: antialiased
}

blockquote {
    padding-left: 22px;
    margin: 1.143em 54px 1.143em 54px;
    font-style: italic
}

blockquote::before {
    content: ''
}

blockquote::after {
    content: ''
}

html:lang(de) {
    quotes: '»' '«' '\2039' '\203A'
}

html:lang(de) blockquote:before {
    content: '«'
}

html:lang(de) blockquote:after {
    content: '»'
}

ol, ul {
    padding-left: 0;
    margin: 1.143em 0 1.143em 53px
}

ul {
    list-style: none
}

ol {
    padding-left: 22px;
    list-style-position: outside
}

ul>li {
    /*padding-left: 22px;*/
    /*background: url(http://cloudfront6.informationarchitects.net/wp-content/themes/iA4/images/bullet.png) no-repeat left 0.57em*/
}

ol li,
ul
li {
    margin-bottom: 0
}

b, strong {
    font-style: italic;
    font-weight: normal
}

i, em {
    font-style: italic
}

a {
    color: #111;
    text-decoration: underline
}

a:hover {
    color: #4AED05
}

del {
    text-decoration: line-through
}

mark {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 2px;
    background-color: #eee;
    behaviour: url(http://cloudfront5.informationarchitects.net/wp-content/themes/iA4/css/PIE.htc)
}

input, textarea, .customStyleSelectBox {
    font-family: 'iABCRegular', Georgia, serif;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: inset -1px 1px 4px #eee;
    -moz-box-shadow: inset -1px 1px 4px #eee;
    box-shadow: inset -1px 1px 4px #eee;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    border: 1px solid #D8D8D8;
    padding: 0 0 0 10px;
    background-color: #fff;
    behaviour: url(http://cloudfront5.informationarchitects.net/wp-content/themes/iA4/css/PIE.htc)
}

.customStyleSelectBoxInner {
    width: 100%;
    height: 100%;
    background: url(http://cloudfront8.informationarchitects.net/wp-content/themes/iA4/images/arrows.png) no-repeat center right
}

textarea {
    padding-top: 5px;
    resize: none
}

input::-webkit-input-placeholder {
    color: #bbb
}

input:-moz-placeholder {
    color: #bbb
}

input[type="submit"] {
    font-family: 'iABCRegularSC', Georgia, serif;
    text-transform: lowercase;
    background: #f9f9f9;
    background: -moz-linear-gradient(top, #f9f9f9 0%, #dbdbdb 100%);
    background: -ms-linear-gradient(top, #f9f9f9 0%, #dbdbdb 100%);
    background: -o-linear-gradient(top, #f9f9f9 0%, #dbdbdb 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f9f9f9), color-stop(100%, #dbdbdb));
    background: -webkit-linear-gradient(top, #f9f9f9 0%, #dbdbdb 100%);
    background: linear-gradient(top, #f9f9f9 0%, #dbdbdb 100%);
    text-shadow: 0 1px 0 white;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: 1px solid #c0c0c0;
    padding: 0;
    color: #444;
    text-align: center;
    behaviour: url(http://cloudfront5.informationarchitects.net/wp-content/themes/iA4/css/PIE.htc)
}

input[type="submit"]:hover {
    background: #fafafa;
    background: -moz-linear-gradient(top, #fafafa 0%, #eaeaea 100%);
    background: -ms-linear-gradient(top, #fafafa 0%, #eaeaea 100%);
    background: -o-linear-gradient(top, #fafafa 0%, #eaeaea 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fafafa), color-stop(100%, #eaeaea));
    background: -webkit-linear-gradient(top, #fafafa 0%, #eaeaea 100%);
    background: linear-gradient(top, #fafafa 0%, #eaeaea 100%)
}

input[type="submit"]:active {
    background: #dbdbdb;
    background: -moz-linear-gradient(top, #dbdbdb 0%, #f9f9f9 100%);
    background: -ms-linear-gradient(top, #dbdbdb 0%, #f9f9f9 100%);
    background: -o-linear-gradient(top, #dbdbdb 0%, #f9f9f9 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dbdbdb), color-stop(100%, #f9f9f9));
    background: -webkit-linear-gradient(top, #dbdbdb 0%, #f9f9f9 100%);
    background: linear-gradient(top, #dbdbdb 0%, #f9f9f9 100%)
}

.preload {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url("http://cloudfront5.informationarchitects.net/wp-content/themes/iA4/images/load.gif") no-repeat center center;
    text-align: center
}

code {
    padding: 0.5em;
    font-size: 0.7em;
    background-color: #f5f5f5;
    color: #444;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px
}

header {
    margin-bottom: 2.905em;
    text-align: center
}

#logo {
    color: black;
    font-size: 3.571em;
    font-family: HelveticaNeue,Arial;
    font-weight: bold;
    text-decoration: none;
    line-height: 1em;
    height: 137px;
    background: url('logo mise-flat.png') no-repeat;
    width: 137px;
    display: block;
    margin: 0 auto;
}

#logo:hover {
    color: #000
}

footer {
    font-family: 'iABCRegularSC', Georgia, serif;
    text-transform: lowercase;
    font-size: 0.905em;
    line-height: 1.263em
}

footer
.section_separator {
    margin-bottom: 1.524em
}

footer>nav, footer>span {
    display: block;
    text-align: center
}

footer > nav .lowercase,
footer > span
.lowercase {
    display: inline;
    font-variant: normal;
    text-transform: none;
    font-size: 0.947em
}

.more_link {
    display: none;
    font-family: 'iABCRegularSC', Georgia, serif;
    text-transform: lowercase
}

.featured {
    margin: 0
}

.client {
    margin-bottom: 2.286em
}

.client_logo_wrapper {
    display: table;
    margin: 0 auto 1.524em auto
}

.client_logo {
    display: block;
    max-width: 100%
}

.client_logo.no_link {
    margin: 0 auto 1.524em auto
}

.client_quote, .product_quote {
    margin: 0 76px;
    margin-bottom: 1.524em;
    text-align: center;
    font-style: italic
}

.product_quote {
    margin-top: 1.524em
}

.client_quote blockquote,
.product_quote
blockquote {
    margin: 0 0 0.333em 0;
    padding: 0;
    border: 0;
    font-size: 1.143em
}

.client_quote blockquote:before,
.product_quote blockquote:before {
    content: "\201C"
}

.client_quote blockquote:after,
.product_quote blockquote:after {
    content: "\201D"
}

.client_quote figcaption,
.product_quote
figcaption {
    font-size: 0.762em;
    line-height: 1.5em
}

.client_description
span {
    font-family: 'iABCRegularSC', Georgia, serif;
    text-transform: lowercase;
    font-size: 1.095em;
    line-height: 1.391em
}

.client_description
.client_description_anchors {
    font-family: 'iABCRegularSC', Georgia, serif;
    text-transform: lowercase
}

.client_separator {
    height: 1px;
    border: 0;
    margin: 0;
    background: url("http://cloudfront6.informationarchitects.net/wp-content/themes/iA4/images/section_title_dot.png") repeat-x center top;
    opacity: 0.8;
    filter: alpha(opacity = 80)
}

.full_slideshow {
    position: relative;
    width: 662px;
    padding-bottom: 1.5em
}

.slideshow_wrapper {
    width: 100%;
    margin: 0;
    float: left;
    position: relative;
    overflow: hidden
}

.slideshow {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0
}

.slideshow
.slide {
    width: 662px;
    padding: 0;
    margin: 0 0 0 20px;
    float: left;
    background: transparent
}

.slideshow .slide:first-child {
    margin-left: 0
}

.slideshow
.slide_image {
    display: block;
    width: 100%;
    cursor: pointer
}

.slideshow
.slide_title {
    margin-bottom: 0.25em;
    font-size: 1.524em;
    font-style: italic;
    text-align: center;
    line-height: 1.5em
}

.slideshow .slide_title
a {
    text-decoration: none
}

.slideshow .slide_title a:hover {
    text-decoration: underline
}

.slideshow
.client_description {
    margin-top: 0.762em
}

.slideshow.animate {
    -webkit-transition: all ease 200ms;
    -moz-transition: all ease 200ms;
    -ms-transition: all ease 200ms;
    -o-transition: all ease 200ms;
    transition: all ease 200ms
}

.slideshow_nav_left, .slideshow_nav_right {
    font-family: 'iABCRegularSC', Georgia, serif;
    text-transform: lowercase;
    width: 12px;
    margin: 0 -52px;
    float: left;
    display: block;
    position: relative;
    visibility: hidden;
    font-size: 35px
}

.slideshow_nav_left .slideshow_nav_middle,
.slideshow_nav_right
.slideshow_nav_middle {
    position: absolute;
    top: 50%
}

.slideshow_nav_left .slideshow_nav_button,
.slideshow_nav_right
.slideshow_nav_button {
    display: block;
    width: 12px;
    height: 12px;
    margin-top: -16px;
    padding: 20px;
    line-height: 12px;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

.slideshow_nav_left {
    margin-right: 0
}

.slideshow_nav_right {
    margin-left: 0
}

.slideshow_nav {
    position: absolute;
    left: 50%;
    bottom: 0.75em;
    margin: 0
}

.slideshow_nav>li {
    padding: 0;
    margin: 0 0 0 5px;
    float: left
}

.slideshow_nav > li
span {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    display: block;
    width: 5px;
    height: 5px;
    background-color: #ddd
}

.slideshow_nav>li:first-child {
    margin-left: 0
}

.slideshow_nav > li.selected
span {
    background-color: #666
}

#other_clients
.section_separator {
    margin-top: 2.286em
}

#other_clients div
a {
    width: 206px;
    margin-right: 22px;
    float: left;
    color: #555;
    font-size: 0.952em;
    text-decoration: none
}

#other_clients div a:hover {
    color: #111;
    text-decoration: underline
}

#other_clients div a:nth-child(3n+3) {
    margin-right: 0
}

#other_clients div a:nth-child(n+4) {
    margin-top: 0.762em
}

#other_clients
.chrono_clients {
    font-family: 'iABCRegularSC', Georgia, serif;
    text-transform: lowercase;
    font-size: 1.143em;
    line-height: 1.333em
}

#contact {
    margin-bottom: 1.524em
}

#contact
p {
    margin-bottom: 0;
    font-style: italic
}

#offices {
    margin-top: 3.111em;
    font-size: 0.857em;
    line-height: 1.333em
}

#offices
.contact {
    width: 206px;
    margin-left: 22px;
    float: left
}

#offices .contact:first-child {
    margin-left: 0
}

#offices .contact
h2 {
    margin-bottom: 0;
    font-size: 1em;
    line-height: 1.333em;
    text-transform: uppercase
}

#offices .contact span,
#offices .contact
a {
    display: block
}

#offices .contact
a {
    text-decoration: none
}

#offices .contact a:hover {
    color: #111
}

#form_success {
    position: absolute;
    opacity: 0
}

#contact_form {
    display: none;
    width: 662px;
    margin-top: 1.524em
}

#message_wrapper {
    -webkit-box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.65);
    -moz-box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.65);
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.65);
    text-shadow: 0 1px 0 white;
    padding: 6% 0;
    border: 1px solid #ccc;
    background-color: #FBFBFB;
    behaviour: url(http://cloudfront7.informationarchitects.net/wp-content/themes/iA4/PIE.htc)
}

#message_wrapper input,
#message_wrapper
textarea {
    text-shadow: 0 1px 0 white;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    display: block;
    border: 0;
    padding: 0;
    margin: 0;
    background-color: transparent;
    color: #222;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0)));
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
    outline: none !important;
    font-style: italic;
    line-height: 1.524em;
    behaviour: url(http://cloudfront7.informationarchitects.net/wp-content/themes/iA4/PIE.htc)
}

#message_wrapper
.right {
    float: right;
    padding: 0 12%
}

#message_wrapper .right>div {
    position: relative
}

#message_wrapper .right>div>* {
    float: left
}

#message_wrapper .right
label {
    font-family: 'iABCRegularSC', Georgia, serif;
    text-transform: lowercase;
    width: 58px;
    font-size: 0.81em;
    text-align: right;
    color: #aaa
}

#message_wrapper .right
input {
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    -webkit-transition: color ease 500ms;
    -moz-transition: color ease 500ms;
    -ms-transition: color ease 500ms;
    -o-transition: color ease 500ms;
    transition: color ease 500ms;
    width: 241px;
    min-width: 241px;
    max-width: 427px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: left;
    -webkit-appearence: caret;
    -moz-appearence: caret
}

#message_wrapper .right:hover {
    cursor: text
}

#message_wrapper
textarea#message {
    width: 76%;
    min-height: 400px;
    margin: 12% 12% 0 12%
}

#message_wrapper
.cursor {
    width: 3px;
    height: 100%;
    z-index: 9999;
    background-color: #06F
}

#message_wrapper
label.error {
    position: absolute;
    z-index: 100;
    width: auto;
    top: -18px;
    left: 68px;
    border: none;
    padding: 0;
    background: none;
    color: #666;
    font-size: 0.619em;
    line-height: 1em;
    text-align: left
}

#message_wrapper label[for=subject].error {
    top: auto;
    bottom: -18px
}

#footer_bottom {
    position: relative;
    margin-top: 0.762em
}

#footer_bottom input[type="submit"],
#footer_bottom
#cancel_button {
    width: 120px;
    height: 1.579em;
    float: right;
    font-size: 0.905em;
    line-height: 1.684em
}

#footer_bottom
#cancel_button {
    font-family: 'iABCRegularSC', Georgia, serif;
    text-transform: lowercase;
    background: #f9f9f9;
    background: -moz-linear-gradient(top, #f9f9f9 0%, #dbdbdb 100%);
    background: -ms-linear-gradient(top, #f9f9f9 0%, #dbdbdb 100%);
    background: -o-linear-gradient(top, #f9f9f9 0%, #dbdbdb 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f9f9f9), color-stop(100%, #dbdbdb));
    background: -webkit-linear-gradient(top, #f9f9f9 0%, #dbdbdb 100%);
    background: linear-gradient(top, #f9f9f9 0%, #dbdbdb 100%);
    text-shadow: 0 1px 0 white;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid #c0c0c0;
    padding: 0;
    margin-right: 6px;
    color: #444;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    behaviour: url(http://cloudfront5.informationarchitects.net/wp-content/themes/iA4/css/PIE.htc)
}

#footer_bottom #cancel_button:hover {
    background: #fafafa;
    background: -moz-linear-gradient(top, #fafafa 0%, #eaeaea 100%);
    background: -ms-linear-gradient(top, #fafafa 0%, #eaeaea 100%);
    background: -o-linear-gradient(top, #fafafa 0%, #eaeaea 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fafafa), color-stop(100%, #eaeaea));
    background: -webkit-linear-gradient(top, #fafafa 0%, #eaeaea 100%);
    background: linear-gradient(top, #fafafa 0%, #eaeaea 100%)
}

#footer_bottom #cancel_button:active {
    background: #dbdbdb;
    background: -moz-linear-gradient(top, #dbdbdb 0%, #f9f9f9 100%);
    background: -ms-linear-gradient(top, #dbdbdb 0%, #f9f9f9 100%);
    background: -o-linear-gradient(top, #dbdbdb 0%, #f9f9f9 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dbdbdb), color-stop(100%, #f9f9f9));
    background: -webkit-linear-gradient(top, #dbdbdb 0%, #f9f9f9 100%);
    background: linear-gradient(top, #dbdbdb 0%, #f9f9f9 100%)
}

#footer_bottom .ajax-loader {
    position: absolute;
    top: 50%;
    right: 256px;
    margin-top: -7px
}

#footer_bottom
#required_label {
    display: block;
    height: 1.524em;
    float: left;
    font-size: 0.762em;
    line-height: 1.524em;
    color: #999
}

#contact_success {
    display: none;
    margin-top: 1.524em;
    text-align: center
}

#contact_success>* {
    display: block
}

#contact_success
em {
    font-size: 1.524em
}

#contact_success
p {
    margin: 0 !important
}

#blog_search {
    text-align: center
}

#search_form {
    display: inline-block
}

#search_form input[type="text"] {
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    width: 370px;
    height: 1em;
    padding: 0.524em 0 0.286em 10px;
    float: left;
    line-height: 1em
}

#search_form input::-webkit-input-placeholder {
    padding-top: 2px
}

#search_form input:-moz-placeholder {
    padding-top: 2px
}

#search_form input[type="submit"] {
    width: 117px;
    height: 2em;
    margin-left: 9px;
    padding: 0;
    float: left;
    font-size: 0.905em;
    line-height: 2.105em
}

.blog_post {
    margin-bottom: 3.048em
}

.blog_post
.blog_post_title {
    margin: 0 3.429em 0.762em 3.429em;
    text-align: center;
    font-style: italic;
    word-wrap: break-word
}

.blog_post .blog_post_title>a {
    text-decoration: none;
    color: #4AED05
}

.blog_post .blog_post_title>a:hover {
    text-decoration: underline;
    color: #4AED05
}

.blog_post
.blog_post_content {
    display: inline
}

.blog_post .blog_post_content p:last-child {
    display: inline
}

#scrollbubble {
    font-family: 'iABCRegularSC', Georgia, serif;
    text-transform: lowercase;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 1px 0 0 #ddd;
    -moz-box-shadow: 0px 1px 0 0 #ddd;
    box-shadow: 0px 1px 0 0 #ddd;
    display: none;
    position: fixed;
    top: 0;
    right: 20px;
    z-index: 500;
    padding: 3px 15px;
    text-align: center;
    white-space: no-wrap;
    background-color: #000;
    color: #eee
}

#scrollbubble:after {
    position: absolute;
    top: 50%;
    right: -8px;
    width: 0;
    height: 0;
    margin-top: -4px;
    border: 4px solid transparent;
    border-left-color: #000;
    content: " "
}

#bubbleLeft, #bubbleRight {
    display: inline-block;
    color: #eee;
    font-size: 1.429em;
    line-height: 1.067em;
    text-decoration: none
}

#bubbleLeft {
    float: left
}

#bubbleRight {
    float: right
}

#scrollBubbleText {
    display: inline-block;
    font-size: 0.81em;
    line-height: 1.882em
}

#scrollBubbleText
a {
    color: #eee
}

.arrow_nav {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    display: none;
    position: absolute;
    right: 8px;
    background-color: #000
}

.arrow_nav
a {
    font-family: 'iABCRegularSC', Georgia, serif;
    text-transform: lowercase;
    display: block;
    width: auto;
    height: 1.882em;
    position: relative;
    float: left;
    padding: 0 8px;
    font-size: 0.81em;
    line-height: 2.059em;
    color: #eee;
    text-decoration: none
}

.arrow_nav a
.symbol {
    position: absolute;
    top: 0;
    font-size: 1.471em;
    line-height: 1.32em
}

.arrow_nav a
.tooltip {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    display: none;
    position: absolute;
    top: 40px;
    right: 0;
    padding: 3px 8px;
    line-height: 1em;
    white-space: nowrap;
    background-color: #eee;
    color: #333
}

.arrow_nav a .tooltip:after {
    position: absolute;
    top: -8px;
    right: 13px;
    width: 0;
    height: 0;
    border: 4px solid transparent;
    border-bottom-color: #eee;
    content: " "
}

.arrow_nav a.previous
.label {
    padding-left: 16px
}

.arrow_nav a.previous
.symbol {
    left: 8px
}

.arrow_nav a.next
.label {
    padding-right: 16px
}

.arrow_nav a.next
.symbol {
    right: 8px
}

.arrow_nav a:first-child:after {
    display: inline-block;
    width: 1px;
    position: absolute;
    right: 0;
    top: 4px;
    bottom: 4px;
    background-color: #555;
    content: ''
}

.arrow_nav a:hover {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #333
}

.arrow_nav a:hover
.tooltip {
    display: block
}

.arrow_nav.top {
    top: 8px
}

.arrow_nav.bottom {
    bottom: 8px
}

.arrow_nav.bottom a
.tooltip {
    top: -30px
}

.arrow_nav.bottom a .tooltip:after {
    top: auto;
    bottom: -8px;
    border-bottom-color: transparent;
    border-top-color: #eee
}

.post .post_title,
.post > h1 ~ h1,
#about .post_title,
#about > h1 ~ h1,
#client .post_title, #client>h1~h1 {
    margin: 0;
    margin-top: 1.111em;
    font-size: 1.714em;
    font-style: italic;
    line-height: 1.333em;
    text-align: center
}

.post .post_author,
#about .post_author,
#client
.post_author {
    font-family: 'iABCRegularSC', Georgia, serif;
    text-transform: lowercase;
    display: block;
    margin-top: 0.381em;
    margin-bottom: 1.905em;
    font-size: 1em;
    text-align: center
}

.post h2,
.post .project_summary h2,
#about h2,
#about .project_summary h2,
#client h2,
#client .project_summary
h2 {
    font-family: 'iABCRegular', Georgia, serif;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    display: block;
    margin-top: 1.333em;
    margin-bottom: 1em;
    text-align: left;
    font-size: 1.143em;
    line-height: 1.5em
}

.post h2 ~ h2,
#about h2 ~ h2,
#client h2~h2 {
    margin-top: 2em;
    margin-bottom: 0.857em;
    font-size: 1.333em;
    font-style: italic;
    text-align: center;
    line-height: 1.429em
}

.post h3,
#about h3,
#client
h3 {
    margin-top: 2.286em;
    margin-bottom: 1.143em;
    text-align: center
}

.post h2 + h3,
#about h2 + h3,
#client h2+h3 {
    margin-top: -0.762em
}

.post a:visited,
#about a:visited,
#client a:visited {
    color: #777
}

.post img,
.post iframe,
.post object,
.post embed,
#about img,
#about iframe,
#about object,
#about embed,
#client img,
#client iframe,
#client object,
#client
embed {
    display: block;
    position: relative;
    max-width: 100%;
    margin: 1.143em auto
}

.post hr,
#about hr,
#client
hr {
    height: 1px;
    border: 0;
    margin: 2.667em 54px 1.143em 54px;
    background-color: #ccc
}

.post .wp-caption,
#about .wp-caption,
#client .wp-caption {
    width: 100% !important;
    margin: 1.143em 0
}

.post .wp-caption iframe,
.post .wp-caption img,
.post .wp-caption object,
.post .wp-caption embed,
#about .wp-caption iframe,
#about .wp-caption img,
#about .wp-caption object,
#about .wp-caption embed,
#client .wp-caption iframe,
#client .wp-caption img,
#client .wp-caption object,
#client .wp-caption
embed {
    margin-top: 0;
    margin-bottom: 0
}

.post .wp-caption-text,
#about .wp-caption-text,
#client .wp-caption-text {
    margin-top: 0.533em;
    font-size: 0.714em;
    font-style: italic;
    line-height: 1.6em;
    text-align: center
}

.post .alert,
#about .alert,
#client
.alert {
    font-style: italic
}

.post .wp-smiley,
#about .wp-smiley,
#client .wp-smiley {
    display: inline;
    margin: 0
}

.post .post_fleuron,
#about .post_fleuron,
#client
.post_fleuron {
    display: block;
    margin: 0.457em 0;
    font-size: 3.333em;
    line-height: 1em;
    text-transform: uppercase;
    text-align: center
}

#clients
.section_separator {
    margin-bottom: 0
}

#clients
.client {
    padding-top: 2.238em
}

#client>section {
    margin-bottom: 1.905em
}

#project_summary
* {
    margin: 0;
    padding: 0
}

#project_briefing
p {
    margin-bottom: 0
}

#summary
.client_quote {
    margin-bottom: 0;
    margin-top: 1.905em
}

.project_image {
    margin: 1.524em 0
}

.project_image
img {
    margin: 0
}

.project_image
figcaption {
    font-style: italic;
    font-size: 0.714em;
    line-height: 1.6em;
    text-align: center
}

.project_image figcaption
span {
    font-family: 'iABCRegularSC', Georgia, serif;
    text-transform: lowercase
}

#all_clients
.featured {
    color: #7e7e7e
}

#products_page
.product {
    margin-bottom: 1.905em
}

#products_page .product
h1 {
    margin-bottom: 0.25em;
    text-align: center;
    font-style: italic
}

@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    #scrollbubble {
        position: absolute
    }

    ul>li {
        background-position: left 12px
    }
}

@media only screen and (max-width: 767px) {
    body {
        padding-top: 2.833em;
        font-size: 1.125em;
        line-height: 1.5em
    }

    h1 {
        margin-bottom: 1.2em;
        font-size: 1.667em;
        line-height: 1.2em
    }

    h2 {
        margin-bottom: 1.5em;
        font-size: 1.333em;
        line-height: 1.5em
    }

    h3 {
        margin-bottom: 1.5em;
        font-size: 1em;
        line-height: 1.5em
    }

    p {
        margin-bottom: 1em
    }

    ol, ul, blockquote {
        margin-top: 1em;
        margin-bottom: 1em
    }

    ul>li {
        background-position: left 10px
    }

    img {
        max-width: 100%
    }

    code {
        font-size: 0.7em;
        background-color: transparent
    }

    .section_separator {
        margin-bottom: 1em;
        font-size: 1.056em;
        line-height: 0.947em
    }

    #content>section {
        margin-bottom: 2em
    }

    header {
        height: 3.111em;
        margin-bottom: 2.833em
    }

    .arrow_nav
a {
        height: 1.588em;
        font-size: 0.944em;
        line-height: 1.765em
    }

    .arrow_nav a
.symbol {
        line-height: 1.08em
    }

    .post
.post_title {
        font-size: 1.667em;
        line-height: 1.2em
    }

    .post
.post_author {
        margin-top: 0.474em;
        margin-bottom: 0.947em;
        font-size: 1.056em
    }

    .post .post_author+h2 {
        margin-bottom: 1.5em;
        font-size: 1em;
        line-height: 1.5em
    }

    .post
h2 {
        margin-top: 1.875em;
        margin-bottom: 0.75em
    }

    .post
h3 {
        margin-top: 1.5em;
        margin-bottom: 1em
    }

    .post
img {
        margin: 1.5em 0
    }

    #scrollbubble {
        position: absolute;
        font-size: 0.889em
    }

    footer span,
    footer
a {
        font-size: 1.056em
    }

    footer span
.lowercase {
        font-size: 1em
    }

    #search_form input[type="text"] {
        height: 1.889em;
        padding-top: 0;
        padding-bottom: 0;
        line-height: 1em
    }

    #search_form input[type="submit"] {
        height: 1.889em;
        font-size: 1em;
        letter-spacing: 0
    }

    .blog_post {
        margin-bottom: 3em
    }

    .blog_post
.blog_post_title {
        margin: 0 0 0.5em 0
    }

    .client_separator {
        margin-bottom: 2.444em
    }

    .client {
        margin-bottom: 2.5em
    }

    .client_logo {
        margin-bottom: 1.5em
    }

    .client_quote {
        margin-bottom: 1.5em
    }

    .client_quote
blockquote {
        font-size: 1.167em;
        margin-bottom: 0.429em
    }

    .client_quote
figcaption {
        font-size: 0.889em;
        line-height: 1.125em
    }

    .product_quote {
        display: none
    }

    .slideshow {
        height: 21em;
        margin-right: 0
    }

    .slideshow
.slide_title {
        height: 1.5em;
        margin-bottom: 0.375em;
        font-size: 1.333em;
        line-height: 1.5em
    }

    .slideshow_nav_left, .slideshow_nav_right {
        position: absolute;
        height: auto !important;
        float: none;
        margin: 0 !important;
        z-index: 999
    }

    .slideshow_nav_left .slideshow_nav_middle,
    .slideshow_nav_right
.slideshow_nav_middle {
        position: relative;
        top: 0
    }

    .slideshow_nav_left .slideshow_nav_button,
    .slideshow_nav_right
.slideshow_nav_button {
        margin-top: 0
    }

    .slideshow
.work_description {
        display: none
    }

    #other_clients div
a {
        font-size: 1.056em;
        line-height: 1.421em
    }

    #other_clients div a:nth-child(n+4) {
        margin-top: 1.421em
    }

    #home_blog_post
.home_blog_post_date {
        margin-bottom: 1.714em;
        font-size: 1.167em
    }

    #offices {
        margin-bottom: 1.5em;
        margin-top: 1.5em;
        font-size: 1em;
        line-height: 1.5em
    }

    #offices .contact
h2 {
        margin-bottom: 0;
        font-size: 1em;
        line-height: 1.5em
    }

    #contact_form {
        width: 100%
    }

    #contact_form input[type="submit"],
    #contact_form
#cancel_button {
        height: 1.889em;
        font-size: 1em;
        line-height: 2em
    }

    #message_wrapper {
        padding: 30px 0;
        font-size: 1em
    }

    #message_wrapper
.right {
        float: none
    }

    #message_wrapper .right
label {
        text-align: left
    }

    #message_wrapper .right
input {
        display: block;
        min-width: 100%;
        max-width: 100%;
        margin: 0;
        float: none
    }

    #message_wrapper
textarea#message {
        min-height: 0
    }

    #required_label {
        display: block;
        margin-bottom: 0.5em
    }

    .project_image
figcaption {
        font-size: 0.889em;
        line-height: 1.125em
    }
}

@media only screen and (min-width: 321px) and (max-width: 767px) {
    #content {
        width: 432px;
        max-width: 90%
    }

    ol {
        margin-left: 40px;
        padding-left: 9px
    }

    ul {
        margin-left: 35px
    }

    ul
li {
        padding-left: 14px
    }

    blockquote {
        margin: 1.5em 40px 1.5em 40px;
        padding-left: 9px
    }

    #search_form {
        width: 100%
    }

    #search_form input[type="text"] {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: 77.315%
    }

    #search_form input[type="submit"] {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: 20.602%;
        margin-left: 2.083%
    }

    .client_quote {
        margin-left: 11.343%;
        margin-right: 11.343%
    }

    .product_quote {
        display: none
    }

    .full_slideshow,
    .slideshow_wrapper,
    .slideshow
.slide {
        width: 432px
    }

    .full_slideshow, .slideshow_wrapper {
        max-width: 100%
    }

    .slideshow_nav_left, .slideshow_nav_right {
        top: -10px
    }

    .slideshow_nav_left {
        left: 0
    }

    .slideshow_nav_left
.slideshow_nav_button {
        padding-left: 0
    }

    .slideshow_nav_right {
        right: 20px
    }

    .slideshow_nav_right
.slideshow_nav_button {
        padding-right: 0
    }

    #offices {
        font-size: 0.833em
    }

    #offices
.contact {
        width: 31.944%;
        margin-left: 2.083%
    }

    #message_wrapper
label.error {
        top: -18px;
        left: 0;
        width: auto;
        line-height: 1em
    }

    #footer_bottom .ajax-loader {
        top: auto;
        bottom: 56px;
        right: 6px;
        margin-top: 0
    }

    #footer_bottom input[type="submit"],
    #footer_bottom
#cancel_button {
        width: 20.139%
    }

    #required_label {
        width: 54.63%
    }
}

@media only screen and (max-width: 320px) {
    #content {
        width: 288px
    }

    ol {
        margin-left: 24px;
        padding-left: 9px
    }

    ul {
        margin-left: 19px
    }

    ul
li {
        padding-left: 14px
    }

    blockquote {
        margin: 1.5em 24px 1.5em 24px;
        padding-left: 9px
    }

    #search_form input[type="text"] {
        width: 177px
    }

    #search_form input[type="submit"] {
        width: 88px;
        margin-left: 9px
    }

    .client_quote {
        margin-left: 0;
        margin-right: 0
    }

    .product_quote {
        display: none
    }

    .full_slideshow,
    .slideshow_wrapper,
    .slideshow
.slide {
        width: 288px
    }

    .slideshow_nav_left, .slideshow_nav_right {
        top: -10px
    }

    .slideshow_nav_left {
        left: 0
    }

    .slideshow_nav_left
.slideshow_nav_button {
        padding-left: 0
    }

    .slideshow_nav_right {
        right: 20px
    }

    .slideshow_nav_right
.slideshow_nav_button {
        padding-right: 0
    }

    #offices {
        text-align: center
    }

    #offices
.contact {
        width: 100%;
        margin: 0;
        margin-top: 1.5em;
        float: none
    }

    #offices .contact:first-child {
        margin-top: 0
    }

    #message_wrapper
label.error {
        top: -18px;
        left: 0;
        width: auto;
        line-height: 1em
    }

    #footer_bottom input[type="submit"],
    #footer_bottom
#cancel_button {
        width: 65px
    }

    #footer_bottom .ajax-loader {
        top: auto;
        bottom: 56px;
        right: 6px;
        margin-top: 0
    }

    #required_label {
        width: 140px
    }

    #client
iframe {
        width: 100%;
        height: 176px
    }
}

div.wpcf7 {
    margin: 0;
    padding: 0
}

div.wpcf7-response-output {
    margin: 2em 0.5em 1em;
    padding: 0.2em 1em
}

div.wpcf7-mail-sent-ok {
    border: 2px solid #398f14
}

div.wpcf7-mail-sent-ng {
    border: 2px solid #f00
}

div.wpcf7-spam-blocked {
    border: 2px solid #ffa500
}

div.wpcf7-validation-errors {
    border: 2px solid #f7e700
}

span.wpcf7-form-control-wrap {
    position: relative
}

span.wpcf7-not-valid-tip {
    position: absolute;
    top: 20%;
    left: 20%;
    z-index: 100;
    background: #fff;
    border: 1px solid #f00;
    font-size: 10pt;
    width: 280px;
    padding: 2px
}

span.wpcf7-not-valid-tip-no-ajax {
    color: #f00;
    font-size: 10pt;
    display: block
}

span.wpcf7-list-item {
    margin-left: 0.5em
}

.wpcf7-display-none {
    display: none
}

div.wpcf7 img.ajax-loader {
    border: none;
    vertical-align: middle;
    margin-left: 4px
}

div.wpcf7
.watermark {
    color: #888
}


#toc{
    position: fixed;
    left: 20px;
    top: 1px;
    visibility: hidden;
    display: none;
}

#toc ul, #toc-main ul{
    list-style-type: none;
    font-size: 16px;
    margin-left: 0;
}

#toc a, #toc-main a{
    font-family: georgia;
    font-style: italic;
    font-size: 1.2em;
    cursor: pointer;
    line-height: 1.8em;
}

#toc-main a{
    font-size: 15px;
    text-decoration: none;
    line-height: 2.3em;
}

.dif{
    font-family: "helvetica neue",'arial';
    font-weight: bold;
    text-transform: uppercase;
}

#toc-main a:hover{
    text-decoration: underline;
}

#toc-main ul>li {
    /*padding-left: 22px;*/
    /*background: url(http://cloudfront6.informationarchitects.net/wp-content/themes/iA4/images/bullet.png) no-repeat left 0.57em*/
    /*list-style-type: lower-roman;*/
}

#toc-main {
    padding-bottom: 25px;
    text-align: center;
}

#toc-main em{
    font-weight: bold;
}

article p{
    margin-bottom: 20px;
}

@media only screen and (min-width: 1150px) {
    #toc {
        visibility: visible;
    }
}

footer{
    margin-top: 400px;
    margin-bottom: 200px;
}

.scrollSelected{
    color: #4AED05;
}

article em{
    font-weight: bold;
}



/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
    opacity:0;  /* make things invisible upon start */
    -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;

    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
}

.ie9 .fade-in, .ie8 .fade-in{
    opacity: 1!important;
}



.fade-in.one {
    -webkit-animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
    animation-delay: 0.8s;
}

.fade-in.two {
    -webkit-animation-delay: 1.2s;
    -moz-animation-delay:1.2s;
    animation-delay: 1.2s;
}

.fade-in.three {
    -webkit-animation-delay: 1.6s;
    -moz-animation-delay: 1.6s;
    animation-delay: 1.6s;
}

.fade-in.four {
    -webkit-animation-delay: 1.8s;
    -moz-animation-delay: 1.8s;
    animation-delay: 1.8s;
}

/*section#share > div{*/
    /*width: 319px;*/
    /*text-align: center;*/
    /*margin-bottom: 107px;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
/*}*/

#share{
    height: 213px;
}

#example6{
    margin-top: 65px;
}